**Step 1: Import Python Packages**

In [15]:
import pandas as pd
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

**Step 2: Import the Dataset**

In [20]:
data = pd.read_csv("heart.csv")

In [21]:
data.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [22]:
# remove unnecessary columns
data = data.drop('restecg',axis=1)
data = data.drop('slp',axis=1)
data = data.drop('thall',axis=1)
data = data.drop('oldpeak',axis=1)
data.tail()

     age  sex  cp  trtbps  chol  fbs  thalachh  exng  caa  output
298   57    0   0     140   241    0       123     1    0       0
299   45    1   3     110   264    0       132     0    0       0
300   68    1   0     144   193    1       141     0    2       0
301   57    1   0     130   131    0       115     1    1       0
302   57    0   1     130   236    0       174     0    1       0

**Step 3: Split the Data into Test and Train**

In [6]:
from sklearn.model_selection import train_test_split
X=data.drop('output', axis=1)  
y=data.output
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

**Step 4: Create and Fit the Model**

In [33]:
model = Sequential()
model.add(Dense(64, input_dim=9, activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [34]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [35]:
model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=10, batch_size=64)

Epoch 1/10
4/4 [==============================] - 1s 71ms/step - loss: 18.7256 - accuracy: 0.4350 - val_loss: 4.1983 - val_accuracy: 0.4835
Epoch 2/10
4/4 [==============================] - 0s 15ms/step - loss: 5.7260 - accuracy: 0.5367 - val_loss: 6.1616 - val_accuracy: 0.5165
Epoch 3/10
4/4 [==============================] - 0s 14ms/step - loss: 6.1142 - accuracy: 0.5571 - val_loss: 8.3045 - val_accuracy: 0.5165
Epoch 4/10
4/4 [==============================] - 0s 14ms/step - loss: 5.7264 - accuracy: 0.5539 - val_loss: 5.4050 - val_accuracy: 0.5165
Epoch 5/10
4/4 [==============================] - 0s 14ms/step - loss: 3.3732 - accuracy: 0.5465 - val_loss: 2.0039 - val_accuracy: 0.5495
Epoch 6/10
4/4 [==============================] - 0s 15ms/step - loss: 3.3768 - accuracy: 0.5754 - val_loss: 1.7243 - val_accuracy: 0.5275
Epoch 7/10
4/4 [==============================] - 0s 15ms/step - loss: 3.0511 - accuracy: 0.5744 - val_loss: 1.7258 - val_accuracy: 0.5495
Epoch 8/10
4/4 [==============================] - 0s 15ms/step - loss: 2.5333 - accuracy: 0.6082 - val_loss: 2.4461 - val_accuracy: 0.5055
Epoch 9/10
4/4 [==============================] - 0s 14ms/step - loss: 2.3884 - accuracy: 0.5813 - val_loss: 2.1895 - val_accuracy: 0.5165
Epoch 10/10
4/4 [==============================] - 0s 14ms/step - loss: 2.2626 - accuracy: 0.6188 - val_loss: 1.3579 - val_accuracy: 0.6154

In [25]:
model.save('model.h5') # save model weights

**Step 5: Make a Prediction**

In [36]:
pred_data = {'age': [57], 'sex': [0], 'trtbps': [127], 'exang': [1], 'cp': [1], 'chol': [241], 'fbs': [0], 'caa': [0], 'thalachh': [123]}
pred_dataF = pd.DataFrame(pred_data)

In [53]:
result = model.predict(X_test)
print(result)

[[0.98605394]
 [0.9992933 ]
 [0.6947458 ]
 [0.20716801]
 [0.9980721 ]
 [0.83583915]
 [0.9941701 ]
 [0.6227917 ]
 [0.05803269]
 [0.9170234 ]
 [0.9759063 ]
 [0.91568685]
 [0.01600248]
 [0.518829  ]
 [0.9791399 ]
 [0.8353986 ]
 [0.98349524]
 [0.8441221 ]
 [0.9529752 ]
 [0.00332919]
 [0.69243145]
 [0.9808289 ]
 [0.19843766]
 [0.13929051]
 [0.8493663 ]
 [0.00659624]
 [0.9294772 ]
 [0.00370875]
 [0.9942554 ]
 [0.85415375]
 [0.66466546]
 [0.9995046 ]
 [0.0411315 ]
 [0.999848  ]
 [0.7403294 ]
 [0.9949869 ]
 [0.00337818]
 [0.990965  ]
 [0.9904081 ]
 [0.9924528 ]
 [0.00680414]
 [0.47865567]
 [0.99999654]
 [0.933555  ]
 [0.99883485]
 [0.05477411]
 [0.7922097 ]
 [0.9997632 ]
 [0.90437174]
 [0.45045084]
 [0.8973954 ]
 [0.9983275 ]
 [0.9901339 ]
 [0.9992995 ]
 [0.98761517]
 [0.9018591 ]
 [0.02891269]
 [0.9957187 ]
 [0.3773942 ]
 [0.99965775]
 [0.7254207 ]
 [0.96751416]
 [0.9519673 ]
 [0.2703743 ]
 [0.20857254]
 [0.85665196]
 [0.3954311 ]
 [0.82860744]
 [0.72801983]
 [0.8564869 ]
 [0.6284488 ]
 [0.59176964]
 [0.71694374]
 [0.7709119 ]
 [0.86655784]
 [0.06088272]
 [0.9845569 ]
 [0.6002577 ]
 [0.150329  ]
 [0.3042664 ]
 [0.2648399 ]
 [0.64848685]
 [0.4703807 ]
 [0.49809027]
 [0.97928715]
 [0.46701956]
 [0.5642545 ]
 [0.99378455]
 [0.01893374]
 [0.9195918 ]
 [0.9907088 ]]