**Step 1: Import Python Packages**

In [17]:
import pandas as pd
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

**Step 2: Import the Dataset**

In [18]:
data = pd.read_csv("heart.csv")

In [19]:
data.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [20]:
data = data.drop('restecg',axis=1)
data = data.drop('slp',axis=1)
data = data.drop('thall',axis=1)
data = data.drop('oldpeak',axis=1)
data.head()

   age  sex  cp  trtbps  chol  fbs  thalachh  exng  caa  output
0   63    1   3     145   233    1       150     0    0       1
1   37    1   2     130   250    0       187     0    0       1
2   41    0   1     130   204    0       172     0    0       1
3   56    1   1     120   236    0       178     0    0       1
4   57    0   0     120   354    0       163     1    0       1

**Step 3: Split the Data into Test and Train**

In [21]:
from sklearn.model_selection import train_test_split
X=data.drop('output', axis=1)  
y=data.output
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

**Step 4: Create and Fit the Model**

In [22]:
model = Sequential()
model.add(Dense(64, input_dim=9, activation='relu'))
model.add(Dense(32, activation='sigmoid'))
model.add(Dropout(0.1))
model.add(Dense(32, activation='sigmoid'))
model.add(Dense(1, activation='softmax'))

In [23]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [24]:
model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=10, batch_size=64)

Epoch 1/10
4/4 [==============================] - 1s 98ms/step - loss: 0.0000e+00 - accuracy: 0.5607 - val_loss: 0.0000e+00 - val_accuracy: 0.5165
Epoch 2/10
4/4 [==============================] - 0s 17ms/step - loss: 0.0000e+00 - accuracy: 0.5508 - val_loss: 0.0000e+00 - val_accuracy: 0.5165
Epoch 3/10
4/4 [==============================] - 0s 18ms/step - loss: 0.0000e+00 - accuracy: 0.5513 - val_loss: 0.0000e+00 - val_accuracy: 0.5165
Epoch 4/10
4/4 [==============================] - 0s 17ms/step - loss: 0.0000e+00 - accuracy: 0.5278 - val_loss: 0.0000e+00 - val_accuracy: 0.5165
Epoch 5/10
4/4 [==============================] - 0s 20ms/step - loss: 0.0000e+00 - accuracy: 0.5732 - val_loss: 0.0000e+00 - val_accuracy: 0.5165
Epoch 6/10
4/4 [==============================] - 0s 18ms/step - loss: 0.0000e+00 - accuracy: 0.5622 - val_loss: 0.0000e+00 - val_accuracy: 0.5165
Epoch 7/10
4/4 [==============================] - 0s 18ms/step - loss: 0.0000e+00 - accuracy: 0.5706 - val_loss: 0.0000e+00 - val_accuracy: 0.5165
Epoch 8/10
4/4 [==============================] - 0s 17ms/step - loss: 0.0000e+00 - accuracy: 0.5622 - val_loss: 0.0000e+00 - val_accuracy: 0.5165
Epoch 9/10
4/4 [==============================] - 0s 18ms/step - loss: 0.0000e+00 - accuracy: 0.5680 - val_loss: 0.0000e+00 - val_accuracy: 0.5165
Epoch 10/10
4/4 [==============================] - 0s 18ms/step - loss: 0.0000e+00 - accuracy: 0.5299 - val_loss: 0.0000e+00 - val_accuracy: 0.5165

In [25]:
model.save('model.h5')