**Step 1: Import Python Packages**

In [1]:
import pandas as pd
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense

**Step 2: Import the Dataset**

In [2]:
data = pd.read_csv("heart.csv")

In [3]:
data.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

**Step 3: Split the Data into Test and Train**

In [4]:
from sklearn.model_selection import train_test_split
X=data.drop('output', axis=1)  
y=data.output
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

**Step 4: Create and Fit the Model**

In [5]:
model = Sequential()
model.add(Dense(16, input_dim=13, activation='sigmoid'))
model.add(Dense(8, activation='sigmoid'))
model.add(Dense(1, activation='sigmoid'))

In [6]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [7]:
model.fit(X_train, y_train, epochs=10, batch_size=64)

Epoch 1/10
4/4 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.4063
Epoch 2/10
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4177
Epoch 3/10
4/4 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.4370
Epoch 4/10
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4344
Epoch 5/10
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4412
Epoch 6/10
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4000
Epoch 7/10
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4052
Epoch 8/10
4/4 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.4156
Epoch 9/10
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4276
Epoch 10/10
4/4 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.3953

In [9]:
model.save("model.h5")