**Step 1: Import Python Packages**

In [22]:
import pandas as pd
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense

**Step 2: Import the Dataset**

In [23]:
data = pd.read_csv("heart.csv")

In [24]:
data.head()

   age  sex  cp  trtbps  chol  fbs  ...  exng  oldpeak  slp  caa  thall  output
0   63    1   3     145   233    1  ...     0      2.3    0    0      1       1
1   37    1   2     130   250    0  ...     0      3.5    0    0      2       1
2   41    0   1     130   204    0  ...     0      1.4    2    0      2       1
3   56    1   1     120   236    0  ...     0      0.8    2    0      2       1
4   57    0   0     120   354    0  ...     1      0.6    2    0      2       1

[5 rows x 14 columns]

**Step 3: Split the Data into Test and Train**

In [25]:
from sklearn.model_selection import train_test_split
X=data.drop('output', axis=1)  
y=data.output
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

**Step 4: Create and Fit the Model**

In [55]:
model = Sequential()
model.add(Dense(16, input_dim=13, activation='sigmoid'))
model.add(Dense(8, activation='sigmoid'))
model.add(Dense(1, activation='sigmoid'))

In [56]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [57]:
history = model.fit(X_train, y_train, epochs=10, batch_size=64)

Epoch 1/10
4/4 [==============================] - 1s 4ms/step - loss: 0.0000e+00 - accuracy: 0.4673
Epoch 2/10
4/4 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.4783
Epoch 3/10
4/4 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.4642
Epoch 4/10
4/4 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.4762
Epoch 5/10
4/4 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.4830
Epoch 6/10
4/4 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.4845
Epoch 7/10
4/4 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.4642
Epoch 8/10
4/4 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.4705
Epoch 9/10
4/4 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.4434
Epoch 10/10
4/4 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.4621